@tailwind base;
@tailwind components;
@tailwind utilities;

*{

size: 12px;

}

:root {
    --primary-color: #007bff; /* Bleu primaire */
    --secondary-color: #6c757d; /* Gris foncé */
    --success-color: #28a745; /* Vert succès */
    --info-color: #17a2b8; /* Bleu info */
    --warning-color: #ffc107; /* Jaune avertissement */
    --danger-color: #dc3545; /* Rouge danger */
    --light-color: #f8f9fa; /* Gris clair */
    --dark-color: #343a40; /* Gris foncé */
    --accent-color: #6610f2; /* Violet accent */
    --background-color: #ffffff; /* Blanc */
    --text-color: #212529; /* Noir */
    --link-color: #007bff; /* Bleu des liens */
    --link-hover-color: #0056b3; /* Bleu des liens au survol */
  }
  
 /* header font style */
  .font__style{
color: var(--secondary-color);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.input_bg{
background-color: #dedede85;
  }

::placeholder{
    color: rgb(255, 255, 255) !important;
    font-size: 14px;
    font-weight: 100;
}


 .Navigation{
display: flex;
justify-content:center;
align-items: center;
width: 10rem;
gap: 15px;
font-size: 14px;


}

.Navigation img{
    width: 17px;
}

.fontHeader{
color: gray;
}
 
.TestimonialBanner{
    width: 100%;

}
/* input size */
.size{
width: 27rem;
}



.paramsCategories {
    width: 15rem !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* style for card */

.card__color{
color: #f8f9fa;

font-size: 10px;
width: 4rem;
font-weight: 500;
}
.fontsize{
    font-size: 15px;
    color: #6c757d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.color_start{
    color: #ea7f0c;

}

.btn__card{
    
    color: var(--success-color);
}

/* ccs form shopping page  */
/* .hover_bg:hover{
background-color: rgba(26, 151, 44, 0.401);
color: white;
border-radius: 5px;
} */


/* 

.flower {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    animation: explode 0.5s forwards;
  }
  
  @keyframes explode {
    0% {
      opacity: 1;
      transform: scale(0.5) translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: scale(1.5) translate(var(--x), var(--y));
    }
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .animate-marquee {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    animation: marquee 10s linear infinite;
  }
   */


   .flower {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    animation: explode 0.5s forwards;
    animation-delay: var(--delay);
  }
  
  @keyframes explode {
    0% {
      opacity: 1;
      transform: scale(0.5) translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: scale(1.5) translate(var(--x), var(--y));
    }
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .animate-marquee {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    animation: marquee 10s linear infinite;
  }
  